.vscode/*
.vscode/
.vscode

.idea/*
.idea/
.idea

.venv/*
.venv/
.venv

.env/*
.env/
.env

tests/output/*
tests/output/
tests/output

build/*
build/
build

dist/*
dist/
dist

__pycache__/*
__pycache__/
__pycache__

.pytest_cache/*
.pytest_cache/
.pytest_cache

*.egg-info/*
*.egg-info/
*.egg-info

*.pyc
*.pyo
*.pyd

.coverage

poetry.lock
